
	
	<div class="row" style="position:relative;">  
	  <div class="col-md-8">  
	  	 <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content" style="height:500px;">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo" style="">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>
	  </div> 
	 
	  <div class="col-md-4" id="j_login_dialog" style="position:absolute;right:0px;">  
	  	<div class="login-dialog">
		   	<form role="form" action="/login" method="post">
					
						 <div class="form-group">
						    <input type="text" class="form-control input-lg" id="username" name="username" placeholder="用户名/昵称">
						 </div>
						 <div class="form-group">
						    <input type="password" class="form-control input-lg" id="password" name="password" placeholder="密码">
						 </div>
				
					   <button type="submit" class="btn btn-default btn-lg" style="width:48%;">登录</button>
					  	
					   <button type="button" id="reg" class="btn btn-lg btn-success" style="width:48%;float:right;">注册</button>
				</form>
				<% if(error && error.length) { %> 
					<div class="alert alert-danger" style="margin-top:15px;"><%= error%></div>
				<% } %>
			</div>
	  </div> 
	</div>

<% include layoutBottom.ejs %>