<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>test02</title>
	<script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/tools/swfobject/swfobject.js"></script>
	<script type="text/javascript">
		$(function(){



			function uploadevent(status){
			     status += '';
				 switch(status){

					case '1':
						alert('upload succeed!');
						var time = new Date().getTime();
						document.getElementById('avatar_priview').innerHTML = "Avatar Priview: <img src='php/avatar_1.jpg?" + time + "'/> <br/> Source Image: <img src='php/avatar_2.jpg?" + time + "'/>";
					break;

					case '2':
						if(confirm('js call upload')){
							return 1;
						}else{
							return 0;
						}
					break;

					case '-1':
						alert('cancel!');
						window.location.href = "#";
					break;
					case '-2':
						alert('upload failed!');
						window.location.href = "#";
					break;

					default:
						alert(typeof(status) + ' ' + status);
				} 
			}

			var flashvars = {
			  "jsfunc":"uploadevent",
			  "imgUrl":"/img/ace1.jpeg",
			  "pid":"75642723",
			  "uploadSrc":true,
			  "showBrow":true,
			  "showCame":true,
			  "pSize": "300|300|180|180|64|64|30|30",
			  "uploadUrl":"/svavt"
			};

			var params = {
				menu: "false",
				scale: "noScale",
				allowFullscreen: "false",
				allowScriptAccess: "always",
				wmode:"transparent",
				bgcolor: "#FFFFFF"
			};

			var attributes = {
				id:"FaustCplus"
			};

			

		

			swfobject.embedSWF("/tools/FaustCplus/FaustCplus.swf", "altContent", "800", "500", "9.0.0", "expressInstall.swf",flashvars, params, attributes);
		});
	</script>

</head>

<body>
	<div id="altContent" class="avatar_priview"></div>
	
</body>
</html>