<% include layoutTop.ejs %>
<div class="row" style="position:relative;">  
	  <div class="col-md-8">  
	  	 <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content" style="height:500px;">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo" style="">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>
	  </div> 
<% include layoutBottom.ejs %>