<% include layoutTop.ejs %>

<div class="row" style="position:relative;">  
	  <div class="col-md-8">  
	  	 <div class="textbox-header">
	  	 	<h4 style="float:left;">随便说说</h4>
	  	 	<h4 style="float:right;font-family: Georgia;color:#999;">还可以输入160个字</h4>
	  	 </div>
	     <textarea class="form-control" rows="3" style="width:610px;"></textarea>
	  	 <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content" style="height:500px;">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>

	  	  <div class="weibo" style="">
	  	 		<div class="avatar">
	  	 			<a href="javascript:void(0)">
	  	 				<img src="/img/test.jpeg"	/>
	  	 			</a>
	  	 		</div>
	  	 		<div class="content">

	  	 		</div>
	  	 </div>
	  </div> 
<% include layoutBottom.ejs %>