body {
	background-color:#fff;
	background: #ddd url(/img/bg.jpg) repeat top left;
}

.weibo {
	margin: 10px 0;
	padding:5px;
	float:left;
	position: relative;
	width: 610px;
	color:rgb(68, 68, 68);

	font-size: 14px;
	font-family: Tahoma, 宋体; 
}

.weibo .avatar {
	float: left;
	border-radius: 5px;
    position: relative;
    width: 64px;
    height: 64px;
    overflow:hidden;
    zoom: 1;
}

.weibo .avatar a{
	display: block;
	
	float: left;
    width: 64px;
    height: 64px;
    outline: none;
    border: none;
    zoom: 1;
}

.weibo .content {
	width:510px;
	/*padding: 20px 10px 20px 20px;*/
	/*border:1px solid #ccc;*/
	border-radius: 5px;
	float:right;
	position: relative;
	zoom: 1;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(34,25,25,.4);
}

.weibo .content:before {
	content:"";
	/*background-color: #f3f2f3 !important;*/
	background: url(/img/feed-icons.png) no-repeat 0 -150px;
	display: block;
	position: absolute;
	width: 13px;
	height: 20px;
	left:-13px;
	top:20px;
}

.login-dialog {
	margin: 10px 0;
	padding:5px 10px 5px 0px;
}

.custom_label_style {
	padding-top: 0px !important;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
}