body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ddd url(/img/bg.jpg) repeat top left;
}

a {
  color: #00B7FF;
  outline:none !important;
}
