a {
	outline: none !important;
}

button {
	outline: none !important;
}

.f-btn {
	cursor:pointer;
}

.f-btn :hover {
	color:#ccc;
}

.textbox-header::after{
	display: block;
	content: "";
	float: left;
}

.expression,.pictures {
	top:45px;
}

.expression .arrow{
	left:19px !important;
}

.pictures .arrow {
	left:70px !important;
}

.tipbox {
	position: absolute;
	left: 0;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.tipbox .arrow,.comments .arrow {
	top: -11px;
	margin-left: -11px;
	
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	border-width: 11px;
	border-top-width:0px;
}

.tipbox .arrow::after , .comments .arrow::after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;

	top: 1px;
	margin-left: -11px;
	border-width: 11px;
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
}

.emo {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	zoom:1;
}

.emo li {
	cursor: pointer;
	border: 1px solid #e8e8e8;
	float: left;
	width: 32px;
	height: 32px;
	padding: 5px;
	text-align: center
}

.emo li:hover {
	border: 1px solid #428bca;
}

.post-btn {
	margin-top:5px;
	margin-right:5px;
	outline:none !important;
	min-width:80px;
}

.postarea {
	width:610px;
	resize:none;
	font-size: 14px; 
	font-family: Tahoma, 宋体; 
	word-wrap: break-word;
}

.wb_info {
	margin: 5px 10px 10px 15px;
	font-size: 16px;
	font-weight: bold;
}

.wb_info a {
	color: #725E34;
	text-decoration: none;
}
.wb_info a:hover {
	color:#80642A !important;
}

.wb_content {
	margin: 5px 10px 15px 15px;
}

.wb_func {
	border-top: 1px dotted #ccc;
	overflow: hidden;
	zoom:1;

}

.wb_time {
	
	font-size: 12px;
	margin: 5px 5px 5px 15px;
	float:left;
}

.wb_time a ,.wb_op li a{
	color:#90897a;
}

.wb_op {
	list-style: none;
	float: right;
	margin: 5px 15px 5px 15px;
	font-size: 12px;
}

.wb_op li {
	float : left;
	display: block;
	margin-left:10px;
}

.popcontent {
	padding: 30px 30px 30px 10px;
	overflow: hidden;
	zoom:1;
}

.p_upload {
	list-style: none;
	margin: 0px;
	padding:0px;
	overflow: hidden;
	zoom:1;
}



.p_upload li{
	float:left;
	margin-left: 20px
}

.comments {
	height: 200px;
	margin: 8px 10px 10px;	
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
}

.comments .arrow {
	right:15px !important;
}


.m-comments-textarea {

}

.m-comments-avatar {

}

.m-comments-content {

}

.m-comments-reply {
	
}

.m-comments-func {

}