
a {
	outline: none !important;
}

button {
	outline: none !important;
}

.f-btn {
	cursor:pointer;
}

.f-btn :hover {
	color:#ccc;
}

.textbox-header::after{
	display: block;
	content: "";
	float: left;
}

.expression,.pictures {
	top:45px;
}

.expression .arrow{
	left:19px !important;
}

.pictures .arrow {
	left:70px !important;
}

.tipbox {
	position: absolute;
	left: 0;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.tipbox .arrow,.comments-tipbox .arrow ,.replay-box .arrow{
	top: -11px;
	margin-left: -11px;
	
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	border-width: 11px;
	border-top-width:0px;
}

.tipbox .arrow::after , .comments-tipbox .arrow::after ,.replay-box .arrow::after{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;

	top: 1px;
	margin-left: -11px;
	border-width: 11px;
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
}

.emo {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	zoom:1;
}

.emo li {
	cursor: pointer;
	border: 1px solid #e8e8e8;
	float: left;
	width: 32px;
	height: 32px;
	padding: 5px;
	text-align: center
}

.emo li:hover {
	border: 1px solid #428bca;
}

.post-btn {
	margin-top:5px;
	margin-right:5px;
	outline:none !important;
	min-width:80px;
}

.postarea {
	width:610px;
	resize:none;
	font-size: 14px; 
	font-family: Tahoma, 宋体; 
	word-wrap: break-word;
}

.wb_info {
	margin: 5px 10px 10px 15px;
	font-size: 16px;
	font-weight: bold;
}

.wb_info a {
	color: #725E34;
	text-decoration: none;
}
.wb_info a:hover {
	color:#80642A !important;
}

.wb_content {
	margin: 5px 10px 15px 15px;
}

.wb_func {
	border-top: 1px dotted #ccc;
	overflow: hidden;
	zoom:1;

}

.wb_time {
	
	font-size: 12px;
	margin: 5px 5px 5px 15px;
	float:left;
}

.wb_time a ,.wb_op li a{
	color:#90897a;
}

.wb_op {
	list-style: none;
	float: right;
	margin: 5px 15px 5px 15px;
	font-size: 12px;
}

.wb_op li {
	float : left;
	display: block;
	margin-left:10px;
}

.popcontent {
	padding: 30px 30px 30px 10px;
	overflow: hidden;
	zoom:1;
}

.p_upload {
	list-style: none;
	margin: 0px;
	padding:0px;
	overflow: hidden;
	zoom:1;
}



.p_upload li{
	float:left;
	margin-left: 20px
}


/*comments module*/
.comments-tipbox {
	
	margin: 8px 10px 10px;	
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
}

.reply-box {
	position: relative;
	border: 1px solid #ccc;

	margin-top: 10px;
	padding-bottom: 5px;
	border-radius: 3px;
}

.reply-box .arrow {
	right:0px !important;
}

.comments-tipbox .arrow {
	right:14px;
}




.comments {
	overflow: hidden;
	zoom:1;
}

.m-cmts {
	margin-left: 10px;
	margin-right: 10px;
}

.m-cmts-textarea {
	margin:10px;
	margin-bottom: 5px;
}

.m-cmts-textarea textarea {
	resize:none;
}

.m-cmts-func {
	
	/*border: 1px dotted #000;*/
	vertical-align: middle;
	overflow: hidden;
	zoom:1;
}

.m-cmts-func span {
	display: block;
	float: left;
	padding: 4px;
	line-height: normal;	
	cursor: pointer;
	width:44px;
}

.m-cmts-func span:hover {
	color: #ccc;
}
.m-cmts-func button {
	float:right;
	min-width:50px;
	padding: 3px 5px;
}

.m-cmts-avatar {

}

.m-cmts-content {
	/*border: 1px solid #000;*/
	height: auto;
	margin-top:10px;
	margin-bottom: 10px;
}

.m-cmts-content-item {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size:12px;
	border-width: 1px 0 0px;
	border-style: solid;
	border-color: #ccc;
	padding-top: 10px;
	overflow: hidden;
	zoom: 1;
}

.m-cmts-content-item .u-info {

}

.m-cmts-content-item .sm-avatar {
	display: block;
	float: left;
}

.m-cmts-content-item .sm-avatar img {
	width: 30px;
	height: 30px;
}

.m-cmts-content-item .i-wrap {
	float:left;
	width:92%;
}

.m-cmts-content-item .u-name {
	display: block;
	margin-left: 5px;
	float: left;
	color: #6c6351;
}



.m-cmts-content-item .c-text {
	float:left;
	margin-left: 5px;
	word-break: break-all;

}

.m-cmts-content-item .m-cmts-reply {
	clear:both;
	height:20px;
	/*border:1px solid red;*/
	overflow: hidden;
	zoom:1;
}

.m-cmts-content-item .m-cmts-reply ul {
	float: right;
	text-decoration: none;
}

.m-cmts-content-item .m-cmts-reply li {
	display: block;
	float: left;
	margin-left: 10px;
}

.m-cmts-content-item .m-cmts-reply li a {
	color: #90897a;
}


/*sidebar */


.m-sidebar {

	padding-top:30px;
	position: fixed;
	left:auto;
	width: 280px;
	
}

.m-sidebar a.u_name {
	display: block;
	margin: 10px auto;
	width: 200px;
	color: #80642A;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/*头像效果*/
.m-avatar {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	border: 8px solid #fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

.m-avatar .view-back {
	/*width: 50%;*/
    height: 100%;
    position: absolute;
    right: 0;
    background: #666;
    z-index: 0;
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}

.view-back span {
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	display: block;
	float: right;
	padding: 5px 20px 5px;
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
}

.view-back span b {
	padding-left: 10px;
	font-size:18px;
	font-family: Georgia;
}

.view-back span:hover {
  cursor: pointer;
  color: #fff;
}

.view-back span:first-child {
    padding-top: 20px;
}

.view-back a {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.4);
    position: absolute;
    right: 2px;
    bottom: 10px;
 	padding: 5px 20px 5px;
  
   	width: 100%;
    height: 30px;
    line-height: 22px;
    text-align: right;
    text-decoration: none;
}

.view-back a:hover {
	color: #fff;
}

.m-avatar .slice{
    width: 40px;
	height: 100%;
	z-index: 100;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -webkit-transform 200ms ease-in-out;

	/*background-image:url(/zzy7186/avatar/big.jpg);*/
}

.m-avatar .s2, 
.m-avatar .s3, 
.m-avatar .s4, 
.m-avatar .s5 {
    -webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	-o-transform: translateX(40px);
	-ms-transform: translateX(40px);
	transform: translateX(40px);
}

.m-avatar .s1 {
	background-position: 0px 0px;
}
.m-avatar .s2 {
    background-position: -40px 0px;
}
.m-avatar .s3 {
    background-position: -80px 0px;
}
.m-avatar .s4 {
    background-position: -120px 0px;
}
.m-avatar .s5 {
    background-position: -160px 0px;
}

.m-avatar .overlay {
    width: 40px;
	height: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

.m-avatar:hover .overlay {
    opacity: 1;
}

.m-avatar:hover {
    width:260px;
}

.m-avatar {
	/*-webkit-perspective: 1050px;*/
}

.m-avatar div {
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.m-avatar:hover .s2 {
	-webkit-transform: translate3d(39px,0,0) rotate3d(0,1,0,-45deg);
	-moz-transform: translate3d(40px,0,0) rotate3d(0,1,0,-45deg);
	-o-transform: translate3d(40px,0,0) rotate3d(0,1,0,-45deg);
	-ms-transform: translate3d(40px,0,0) rotate3d(0,1,0,-45deg);
	transform: translate3d(40px,0,0) rotate3d(0,1,0,-45deg);
}

.m-avatar:hover .s3,.m-avatar:hover .s5 {
	-webkit-transform: translate3d(39px,0,0) rotate3d(0,1,0,90deg);
	-moz-transform: translate3d(40px,0,0) rotate3d(0,1,0,90deg);
	-o-transform: translate3d(40px,0,0) rotate3d(0,1,0,90deg);
	-ms-transform: translate3d(40px,0,0) rotate3d(0,1,0,90deg);
	transform: translate3d(40px,0,0) rotate3d(0,1,0,90deg);
}

.m-avatar:hover .s4 {
	-webkit-transform: translate3d(39px,0,0) rotate3d(0,1,0,-90deg);
	-moz-transform: translate3d(40px,0,0) rotate3d(0,1,0,-90deg);
	-o-transform: translate3d(40px,0,0) rotate3d(0,1,0,-90deg);
	-ms-transform: translate3d(40px,0,0) rotate3d(0,1,0,-90deg);
	transform: translate3d(40px,0,0) rotate3d(0,1,0,-90deg);
}

.m-avatar .s2 > .overlay {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.m-avatar .s3 > .overlay {
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
}

.m-avatar .s4 > .overlay {
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
}

.m-avatar .s5 > .overlay {
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}