a {
	outline: none !important;
}

.f-btn {
	cursor:pointer;
}

.f-btn :hover {
	color:#ccc;
}

.textbox-header::after{
	display: block;
	content: "";
	float: left;
}

.expression,.pictures {
	top:45px;
}

.expression .arrow{
	left:19px !important;
}

.pictures .arrow {
	left:70px !important;
}

.tipbox {
	position: absolute;
	left: 0;
	z-index: 1010;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.tipbox .arrow {
	top: -11px;
	margin-left: -11px;
	
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	border-width: 11px;
	border-top-width:0px;
}

.tipbox .arrow::after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;

	top: 1px;
	margin-left: -11px;
	border-width: 11px;
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
}

.emo {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	zoom:1;
}

.emo li {
	cursor: pointer;
	border: 1px solid #e8e8e8;
	float: left;
	width: 32px;
	height: 32px;
	padding: 5px;
	text-align: center
}

.emo li:hover {
	border: 1px solid #428bca;
}

.post-btn {
	margin-top:5px;
	margin-right:5px;
	outline:none !important;
	min-width:80px;
}

.postarea {
	width:610px;
	resize:none;
	font-size: 14px; 
	font-family: Tahoma, 宋体; 
	word-wrap: break-word;
}